body {
  background-color: #1e293b;
  color: #f1f5f9;
  font-family: "Courier New", Courier, monospace;
}

button {
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: 0;
  width: 10rem;
}

/* Hide the up/down arrows for number inputs. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* classes for font color */
.text-red400 {
  color: #f87171;
}
.text-emerald400 {
  color: #34d399;
}
.text-bluegrey100 {
  color: #f1f5f9;
}
